<form>
    <div class="file-field md-form">
      <div mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>
        <span>Choose file</span>
        <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [input]="uploadInput">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text" placeholder="Elige tu archivo a subir" [value]="showFiles()">
      </div>
    </div>
    <button mdbBtn color="primary" (click)="startUpload()">Subir</button>
  </form>